tdm_parser
pytdm_ripper.cpp
*.so
build/
*.o
*.a
*.dat
data/
tdmripper
*.csv
*.log
tdmreaper
cython/*.cpp
tdmtermite
dist/
*.egg-info/
output/
monitor-process.sh
tdmtest
pip/*.hpp
pip/*.md
pip/*.cpp
pip/*.pyx
pip/*.pxd
pip/LICENSE

python/3rdparty/
python/LICENSE
python/README.md
python/TDMtermite.cpp
python/lib/

